<p-panel header="Cotação">
    <div class="grid p-fluid">
      <div class="col-3"></div>
      <div class="col-6">
        <div class="p-inputgroup">
          <input id="pesquisa" name="pesquisa" type="text" pInputText [(ngModel)]="filtro" placeholder="Pesquisar" />
          <p-button icon="pi pi-search" class="espacoButton" title="pesquisar" (click)="pesquisar()"></p-button>
          <p-button icon="pi pi-plus" label="Novo" title="cadastrar" (click)="novo()"></p-button>
        </div>
      </div>
      <div class="col-3"></div>
    </div>
  </p-panel>

  <br>

  <p-table styleClass="p-datatable-sm p-datatable-striped" responsiveLayout="scroll" [value]="cotacaoes" dataKey="id"
  [paginator]="true" [rows]="rows" [showCurrentPageReport]="true"
  currentPageReportTemplate="Exibindo {first} a {last} de {totalRecords} cotações">
  <ng-template pTemplate="header">
    <tr>
      <th style="width: 10%;text-align: center;">Número</th>
      <th style="width: 8%;text-align: center;">Placa</th>
      <th style="width: 15%;text-align: center;">Chassi</th>
      <th style="width: 25%;text-align: center;">Marca/Modelo</th>
      <th style="width: 15%;text-align: center;">Cidade/Estado</th>
      <th style="width: 17%;text-align: center;">Planilha</th>
      <th style="width: 10%;"></th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-cotacao>
    <tr [pSelectableRow]="cotacao">
      <td style="text-align: center;">{{cotacao.id}}</td>
      <td style="text-align: center;">{{cotacao.placa}}</td>
      <td style="text-align: center;">{{cotacao.chassi}}</td>
      <td style="text-align: center;">{{cotacao.marca}}/{{cotacao.modelo}}</td>
      <td style="text-align: center;">{{cotacao.cidade}}/{{cotacao.uf}}</td>
      <td style="text-align: center;">{{cotacao.nomeArquivo}}</td>
      <td style="text-align: center;">
        <p-button styleClass="p-button-link" icon="pi pi-pencil" title="editar" (click)="exibirDados(cotacao.id)">
        </p-button>
      </td>
    </tr>
  </ng-template>
</p-table>
