<form header="Perfil" [formGroup]="form" (ngSubmit)="cadastrarPerfil()">
    <p-panel header="Perfil">
        <div class="grid p-fluid">
            <input type="hidden" id="id" name="id" pInputText formControlName="id">
            <div class="col-3">
                <label for="sigla">* Sigla</label>
            </div>
            <div class="col-9">
                <label for="descricao">* Descrição</label>
            </div>
        </div>
        <div class="grid p-fluid">
            <div class="col-3">
                <input id="sigla" name="sigla" type="text" pInputText formControlName="sigla" />
            </div>
            <div class="col-9">
                <input id="descricao" name="descricao" type="text" pInputText formControlName="descricao" />
            </div>
        </div>
        <div class="grid p-fluid">
            <div class="col-3">
                <span style="color: red;" *ngIf="!form.controls['sigla'].valid && form.controls['sigla'].dirty"
                    [innerHTML]="form.get('sigla')?.errors?.['required'] ? 'Campo obrigatório' 
                        : form.get('sigla')?.errors?.['minlength'] ? 'O número mínimo de caracteres é 3' 
                        : form.get('sigla')?.errors?.['maxlength'] ? 'O número máximo de caracteres é 10' 
                        : ''">
                </span>
            </div>
            <div class="col-9">
                <span style="color: red;" *ngIf="!form.controls['descricao'].valid && form.controls['descricao'].dirty"
                    [innerHTML]="form.get('descricao')?.errors?.['required'] ? 'Campo obrigatório' 
                        : ''">
                </span>
            </div>
        </div>
        <p-footer>
            <div div class="text-right">
                <p-button class="espacoButton" icon="pi pi-file" label="Novo" (click)="novoPerfil()" *ngIf="isAtualizacao;"></p-button>
                <p-button class="espacoButton" icon="pi pi-trash" label="Excluir" *ngIf="isAtualizacao" [disabled]="disabledButton"
                    (click)="excluirPerfil(id)"></p-button>
                <p-button class="espacoButton" icon="pi pi-save" type="submit" label="Atualizar" [disabled]="!form.valid || disabledButton"
                    *ngIf="isAtualizacao"></p-button>
                <p-button icon="pi pi-save" type="submit" label="Cadastrar" [disabled]="!form.valid || disabledButton"
                    *ngIf="!isAtualizacao"></p-button>
            </div>
        </p-footer>
    </p-panel>
</form>

<p-toast (onClose)="redirectPageList()"></p-toast>

<p-messages *ngIf="showMessageError" [(value)]="msgs"></p-messages>