<p-panel header="Usuário">
    <div class="grid p-fluid">
        <div class="col-3">
            <label for="sigla">Nome</label>
        </div>
        <div class="col-5">
            <label for="sigla">Email</label>
        </div>
        <div class="col-3">
            <label for="sigla">Perfil</label>
        </div>
        <div class="col-1">
            <label for="sigla">Status</label>
        </div>
        <div class="col-3">
            <input id="nome" name="nome" type="text" pInputText [(ngModel)]="nome" />
        </div>
        <div class="col-5">
            <input id="email" name="email" type="text" pInputText [(ngModel)]="email" />
        </div>
        <div class="col-3">
            <p-dropdown [options]="perfis" [(ngModel)]="perfilSelecionado" placeholder="Selecione" optionLabel="descricao"
                [showClear]="true"></p-dropdown>
        </div>
        <div class="col-1 field-checkbox">
            <p-triStateCheckbox [(ngModel)]="ativo" label="{{labelStatus}}" (onChange)="onChangeStatus()">
            </p-triStateCheckbox>
        </div>
    </div>
    <p-footer>
        <div style="text-align: right;">
            <p-button class="espacoButton" icon="pi pi-file" label="Novo" [routerLink]="pageForm"></p-button>
            <p-button icon="pi pi-search" label="Pesquisar" (click)="pesquisarUsuario()"></p-button>
        </div>
    </p-footer>
</p-panel>

<br>

<p-table styleClass="p-datatable-sm p-datatable-striped" responsiveLayout="scroll" [value]="usuarios"
    selectionMode="single" dataKey="id" (onRowSelect)="exibirDadosUsuario($event)" [paginator]="true" [rows]="rows"
    [showCurrentPageReport]="true" currentPageReportTemplate="Exibindo {first} a {last} de {totalRecords} usuários">
    <ng-template pTemplate="header">
        <tr>
            <th style="width: 30%;text-align: center;">Nome</th>
            <th style="width: 40%;text-align: center;">Email</th>
            <th style="width: 20%;text-align: center;">Perfil</th>
            <th style="width: 10%;text-align: center;">Status</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-usuario>
        <tr [pSelectableRow]="usuario">
            <td style="text-align: center;">{{usuario.nome}}</td>
            <td style="text-align: center;">{{usuario.email}}</td>
            <td style="text-align: center;">{{usuario.perfil.descricao}}</td>
            <td style="text-align: center;">{{usuario.ativo ? 'Ativo' : 'Inativo'}}</td>
        </tr>
    </ng-template>
</p-table>