<form header="Usuário" [formGroup]="form" (ngSubmit)="cadastrarUsuario()">
    <p-panel header="Usuário">
        <input type="hidden" id="id" name="id" pInputText formControlName="id">
        <div class="grid p-fluid">
            <div class="col-4">
                <label for="nome">* Nome</label>
            </div>
            <div class="col-4">
                <label for="email">* E-mail</label>
            </div>
            <div class="col-4">
                <label for="cpf">* CPF</label>
            </div>
        </div>
        <div class="grid p-fluid">
            <div class="col-4">
                <input id="nome" name="nome" type="text" pInputText formControlName="nome" />
            </div>
            <div class="col-4">
                <input id="email'" name="email" type="email" pInputText formControlName="email" />
            </div>
            <div class="col-4">
                <p-inputMask mask="999.999.999-99" id="cpf'" name="cpf" formControlName="cpf"></p-inputMask>
            </div>
        </div>
        <div class="grid p-fluid">
            <div class="col-4">
                <span style="color: red;" *ngIf="!form.controls['nome'].valid && form.controls['nome'].dirty"
                    [innerHTML]="form.get('nome')?.errors?.['required'] ? 'Campo obrigatório' 
                        : ''">
                </span>
            </div>
            <div class="col-4">
                <span style="color: red;" *ngIf="!form.controls['email'].valid && form.controls['email'].dirty"
                    [innerHTML]="form.get('email')?.errors?.['required'] ? 'Campo obrigatório' 
                        : ''">
                </span>
            </div>
            <div class="col-4">
                <span style="color: red;" *ngIf="!form.controls['cpf'].valid && form.controls['cpf'].dirty" [innerHTML]="form.get('cpf')?.errors?.['required'] ? 'Campo obrigatório' 
                        : ''">
                </span>
            </div>
        </div>
        <div class="grid p-fluid">
            <div class="col-4">
                <label for="perfil">* Perfil</label>
            </div>
            <div class="col-2">
                <label for="senha">* Senha</label>
            </div>
            <div class="col-2">
                <label for="confirmaSenha">* Confirma Senha</label>
            </div>
            <div class="col-4">
                <label for="status">Status</label>
            </div>
        </div>
        <div class="grid p-fluid">
            <div class="col-4">
                <p-dropdown [options]="perfis" [(ngModel)]="perfilSelecionado" placeholder="Selecione"
                    optionLabel="descricao" [showClear]="true" formControlName="perfil"></p-dropdown>
            </div>
            <div class="col-2">
                <input id="senha" name="senha" type="password" pInputText formControlName="senha" />
            </div>
            <div class="col-2">
                <input id="confirmaSenha" name="confirmaSenha" type="password" pInputText
                    formControlName="confirmaSenha" />
            </div>
            <div class="col-4">
                <p-checkbox [binary]="true" formControlName="ativo" label="{{labelStatus}}"
                    (onChange)="onChangeStatus()">
                </p-checkbox>
            </div>
        </div>
        <div class="grid p-fluid">
            <div class="col-4">
                <span style="color: red;" *ngIf="!form.controls['perfil'].valid && form.controls['perfil'].dirty"
                    [innerHTML]="form.get('perfil')?.errors?.['required'] ? 'Campo obrigatório' 
                        : ''">
                </span>
                <div class="col-2">
                    <span style="color: red;" *ngIf="!form.controls['senha'].valid && form.controls['senha'].dirty"
                        [innerHTML]="form.get('senha')?.errors?.['minlength'] ? 'O número mínimo de caracteres é 4' 
                        : form.get('senha')?.errors?.['maxlength'] ? 'O número máximo de caracteres é 10' 
                        : ''">
                    </span>
                </div>
                <div class="col-2">
                    <span style="color: red;" *ngIf="!form.controls['confirmaSenha'].valid && form.controls['confirmaSenha'].dirty"
                        [innerHTML]="form.get('confirmaSenha')?.errors?.['minlength'] ? 'O número mínimo de caracteres é 4' 
                        : form.get('confirmaSenha')?.errors?.['maxlength'] ? 'O número máximo de caracteres é 10' 
                        : ''">
                    </span>
                </div>
                <div class="col-4"></div>
            </div>
        </div>

        <p-footer>
            <div style="text-align: right;">
                <p-button class="espacoButton" icon="pi pi-file" label="Novo" (click)="novoUsuario()"
                    *ngIf="isAtualizacao;"></p-button>
                <p-button class="espacoButton" icon="pi pi-trash" label="Excluir" *ngIf="isAtualizacao"
                    [disabled]="disabledButton" (click)="excluirUsuario(id)"></p-button>
                <p-button class="espacoButton" icon="pi pi-save" type="submit" label="Atualizar"
                    [disabled]="!form.valid || disabledButton" *ngIf="isAtualizacao"></p-button>
                <p-button icon="pi pi-save" type="submit" label="Cadastrar" [disabled]="!form.valid || disabledButton"
                    *ngIf="!isAtualizacao"></p-button>
            </div>
        </p-footer>
    </p-panel>
</form>

<p-toast (onClose)="redirectPageList()"></p-toast>

<p-messages *ngIf="showMessageError" [(value)]="msgs"></p-messages>