<p-panel [toggleable]="true" [collapsed]="true" header="Perfil">
  <div class="grid p-fluid">
    <div class="col-3">
      <label for="sigla">Sigla</label>
    </div>
    <div class="col-9">
      <label for="descricao">Descrição</label>
    </div>
    <div class="col-3">
      <input id="sigla" name="sigla" type="text" pInputText [(ngModel)]="sigla" />
    </div>
    <div class="col-9">
      <input id="descricao" name="descricao" type="text" pInputText [(ngModel)]="descricao" />
    </div>
  </div>
  <p-footer>
    <div style="text-align: right;">
      <p-button icon="pi pi-file" label="Novo" [routerLink]="pageForm" style="margin-right: .25em"></p-button>
      <p-button icon="pi pi-search" label="Pesquisar" (click)="pesquisarPerfil()"></p-button>
    </div>
  </p-footer>
</p-panel>

<br>

<label>{{textPaginacao}}</label>

<p-table [value]="perfils" selectionMode="single" dataKey="id" (onRowSelect)="exibirDadosPerfil($event)"
  [paginator]="true" [rows]="qtdRows" (onPage)="paginate($event)">
  <ng-template pTemplate="header">
    <tr>
      <th style="width: 30%;">Sigla</th>
      <th>Descrição</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-perfil>
    <tr [pSelectableRow]="perfil">
      <td style="text-align: center;">{{perfil.sigla}}</td>
      <td>{{perfil.descricao}}</td>
    </tr>
  </ng-template>
</p-table>